<!doctype html>
<html lang="ja">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <!-- ヘッダー -->
    <header class="py-2">
      <div class="container text-center">
        <h1><%= link_to "Bookshelf App", root_url %></h1>
      </div>
    </header>
    <!-- ナビバー -->
    <nav class="navbar navbar-dark bg-dark navbar-expand sticky-top">
      <!-- サブコンポーネント -->
      <div class="container">
        <!-- ブランド -->
        <%= link_to "Bookshelf App", root_url %>
        <!-- 切り替えボタン -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- ナビゲーション -->
        <div class="collapse navbar-collapse" id="navbar-content">
          <ul class="navbar-nav mr-auto">
            <li class="navbar-item">
              <%= link_to "Home", root_url, class: "nav-link" %>
            </li>
            <li class="navbar-item">
              <%= link_to "Users", '#', class: "nav-link" %>
            </li>
            <li class="navbar-item">
              <%= link_to "About", static_pages_about_url, class: "nav-link" %>
            </li>
            <li class="navbar-item dropdown">
              <%= link_to "Account", static_pages_contact_url, class: "nav-link dropdown-toggle" %>
              <div class="dropdown-menu">
                <%= link_to "Profile", '#', class: "dropdown-item"%>
                <%= link_to "Setting", '#', class: "dropdown-item"%>
                <%= link_to "Log out", '#', class: "dropdown-item"%>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- メイン -->
    <main>
      <%= yield %>
    </main>
    <!-- フッター -->
    <footer>
      <li class="navbar-item">
        <%= link_to "Help", static_pages_help_url, class: "nav-link" %>
      </li>
      <li class="navbar-item">
        <%= link_to "Contact", static_pages_contact_url, class: "nav-link" %>
      </li>
    </footer>
    <script>
    </script>
  </body>
</html>